# Ignore all .yml files
*.yml

# Ignore all .xml files
*.xml

# Ignore all .out files
*.out

# Ignore all .plist files
*.plist

# Ignore all .log files
*.log

# Ignore all .lock files
*.lock

# Ignore all other files
.DS_Store
settings.json
tasks.json
CLRS.pdf
Algorithms-JeffE.pdf
cpp/.vscode/tasks.json