# Ignore all .yml files
*.yml

# Ignore all .xml files
*.xml

# Ignore all .out files
*.out

# Ignore all .plist files
*.plist
./**/*.plist

# Ignore all Unix executable files
*/*
!*.*

# Ignore all unimportant files
.DS_Store
settings.json
tasks.json
cpp/.vscode/tasks.json